<div id="skipNav">
  <a href="#content">본문 바로가기</a>
  <a href="#gnb">글로벌 네비게이션 바로가기</a>
</div>

<header id="headerArea">
  <div class="headerInner">
    <h1 class="logo"><a href="/">Kcal-cal</a></h1>
    <a href="#" class="menu_ham">
      <span>메뉴열고닫기</span>
    </a>
    <nav id="gnb">
      <h2 class="hidden">Navigation</h2>
      <div class="profile_img">
        <% if (isLogin && result.userprofile !== null) { %>
        <img src="../<%= result.userprofile %>" alt="개인 프로필 이미지" />
        <% } else { %>
        <img src="../static/img/porfile.jpg" alt="기본 프로필 이미지" />
        <% } %>
        <ul>
          <% if (isLogin) { %>
          <li><a href="/logout">로그아웃</a></li>
          <li><a href="/mypage">정보수정</a></li>
          <% } else { %>
          <li><a href="/login">로그인</a></li>
          <li><a href="/signup">회원가입</a></li>
          <% } %>
        </ul>
      </div>
      <ul>
        <li class="<%= activeMenu === 'main' ? 'active' : '' %>">
          <h3>
            <b class="top-curve"></b>
            <b class="bottom-curve"></b>
            <a href="/main"><i class="fas fa-fire"></i>칼로리 체크</a>
          </h3>
        </li>
        <li class="<%= activeMenu === 'sub1' ? 'active' : '' %>">
          <h3>
            <b class="top-curve"></b>
            <b class="bottom-curve"></b>
            <a href="/sub1"><i class="fas fa-calculator"></i>BMI 측정</a>
          </h3>
        </li>
        <li class="<%= activeMenu === 'sub2' ? 'active' : '' %>">
          <h3>
            <b class="top-curve"></b>
            <b class="bottom-curve"></b>
            <a href="/sub2"><i class="fas fa-running"></i>건강 정보</a>
          </h3>
        </li>
        <li class="<%= activeMenu === 'sub3' ? 'active' : '' %>">
          <h3>
            <b class="top-curve"></b>
            <b class="bottom-curve"></b>
            <a href="/sub3"><i class="far fa-meh-blank"></i>건강 상태</a>
          </h3>
        </li>
      </ul>
    </nav>
  </div>
</header>
