<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- css: layout -->
    <link rel="stylesheet" href="/static/css/layout.css" />
    <!-- css : main -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // <![CDATA[
      try {
        window.addEventListener(
          "load",
          function () {
            setTimeout(scrollTo, 0, 0, 1);
          },
          false
        );
      } catch (e) {}
      // ]]>
    </script>
  </head>

  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <h2 class="hidden">Main Content</h2>
        <section class="part1">
          <!-- gauge -->
          <article class="gauge">
            <h3 class="hidden">기초 대사량 칼로리 게이지</h3>
            <% if (isLogin && result.gender === 'F') { %>
            <p class="wel">환영합니다 &#58;&#41;</p>
            <p>
              <%= result.nickname %> 님의 기초대사량은 <%=
              Math.round(655.1+(9.56*result.weight)+(1.85*result.height)-(4.68*result.age))
              %> 입니다.
            </p>
            <% } else if (isLogin && result.gender === 'M') { %>
            <p class="wel">환영합니다 &#58;&#41;</p>
            <p>
              <%= result.nickname %> 님의 기초대사량은 <%=
              Math.round(66.47+(13.75*result.weight)+(5*result.height)-(6.76*result.age))
              %> 입니다.
            </p>
            <% } else { %>
            <p>로그인 후 조회 가능합니다!</p>
            <% } %>

            <div class="kcal-bar-background">
              <span class="kcal-value"></span>
              <div class="kcal-bar"></div>
            </div>
          </article>

          <!-- kcal search -->
          <article class="search">
            <h3 class="hidden">음식 칼로리 체크하기</h3>
            <form
              name="search"
              action="/"
              method="post"
              role="search"
              onsubmit="event.preventDefault();"
              id="search"
            >
              <label for="search">음식 또는 브랜드명 검색</label>
              <input
                name="search"
                id="search"
                placeholder="음식 또는 브랜드명을 검색하여 칼로리를 체크해보세요"
                autofocus
                required
              />
              <button type="submit">Go</button>
            </form>
            <div class="food-list-box">
              <ul class="food-list">
                <li class="foods-information">
                  <% for(let i = 0; i < 4; i++){ %>
                  <dl class="clearfix">
                    <dt class="food-name skeleton-text1"></dt>
                    <dd class="food-brand skeleton-text2"></dd>
                    <dd class="food-vol skeleton-text2"></dd>
                  </dl>
                  <hr />
                  <% } %>
                </li>
              </ul>
            </div>
          </article>
          <article class="eat">
            <span id="list-isEmpty">먹은 값은 이곳에서 확인 할 수 있어요!</span>
            <ul></ul>
          </article>
        </section>

        <section class="part2">
          <p>회원님의 하루 권장량</p>
          <article>
            <div class="content-box">
              <div class="recommend-text">탄수화물</div>
              <div class="pie carbs">
                <div class="inside-pie carbs-value">0%</div>
              </div>
            </div>
            <div class="content-box">
              <div class="recommend-text">단백질</div>
              <div class="pie protein">
                <div class="inside-pie protein-value">0%</div>
              </div>
            </div>
            <div class="content-box">
              <div class="recommend-text">지방</div>
              <div class="pie fat">
                <div class="inside-pie fat-value">0%</div>
              </div>
            </div>
          </article>
        </section>
      </main>

      <!-- 공지사항팝업 -->
      <div id="showimage">
        <a href="/sub3">
          <img
            src="/static/img/main_popup.png"
            alt="매일 체중을 측정해서 변화를 체감해보세요!"
          />
        </a>
        <div>
          <input
            type="checkbox"
            name="Notice"
            id="Notice"
            title="오늘은 이창을 열지 않음 선택상자"
          />
          <label for="Notice">오늘은 이 창을 열지 않음.</label>
          <a href="/main" onclick="closeWin();hidebox();return false;">
            [close]
          </a>
        </div>
      </div>
    </div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/crawler.js"></script>
    <script src="/static/js/popup.js"></script>
    <script src="/static/js/addkcal.js"></script>
    <script src="/static/js/minuskcal.js"></script>
  </body>
</html>
